@use "../../../variables.scss" as s;

.file_wrapper {
  cursor: pointer;
  label {
    cursor: pointer;
  }
  box-sizing: border-box;
  position: absolute;
  height: 423px;
  left: 174px;
  right: 174px;
  top: 68px;
  background: #f7f7f7;
  border: 2px dashed #4386a9;
  border-radius: 18px;
  .file_head {
    position: absolute;
    width: 195px;
    height: 76px;
    left: calc(50% - 195px / 2 + 0.5px);
    top: 100px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;

    text-align: center;

    color: #4386a9;
  }

  input[type="file"] {
    display: none;
  }
}

.file_uploader {
  padding: 18px 60px;

  text-align: center;
  line-height: 30px;
  position: absolute;
  width: 133px;
  height: 30px;
  left: calc(50% - 242px / 2 - 0.5px);
  top: 245px;
  font-size: 20px;
  color: #f7f7f7;
  background: #62a1eb;
  border-radius: 8px;
}

.error {
  border-color: #e52f2f;
  background-color: #f3e6e6;
}
.errorImg {
  background-image: url("../../../../public/assets/imgError.png");
  width: 38px;
  height: 34px;
  position: absolute;
  top: 50px;
  left: 400px;
}

.laptop_img {
  width: 104.5%;
  height: 103%;
  object-fit: cover;
  position: relative;
  right: 5px;
  bottom: 5px;
  border-radius: 8px;
  cursor: initial;
}

#uploadAgain {
  z-index: 100;
  top: 450px;
  left: 653px;
  width: 233px;
  height: 60px;
  line-height: 60px;
  padding: 0;
}

.file_name {
  position: absolute;
  height: 38px;
  width: 100%;
  bottom: -80px;
  display: flex;
  align-items: center;
  span {
    font-size: 18px;
    font-weight: 400;
    color: #202020;
  }
}
.success_img {
  background-image: url("../../../../public/assets/success.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  z-index: 100;
}

.file_size {
  margin-left: 20px;
  color: #5f5f5f !important;
  font-size: 18px;
}

@include s.media(390px) {
  .file_wrapper {
    width: 358px;
    height: 244px;
    left: 13px;
    top: 0px;
  }

  .file_uploader {
    left: 0px;
    padding: 0;
    width: 358px;
    height: 240px;
    top: 0;
    background-color: transparent;
    z-index: 60;
  }
  .mobile_file_head {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .camera_img {
    background-image: url("../../../../public/assets/camera.png");
    width: 50px;
    height: 50px;
    object-fit: cover;
    position: absolute;
    left: 44%;
    top: 60px;
  }
  #mobile_head {
    top: 130px;
  }

  .laptop_img {
    width: 105%;
    height: 105%;
    bottom: 247px;
  }
  

  .file_name {
    width: initial;
    bottom: -65px;
    span{
      font-size: 12px;
    }
    .first_span{
      position: relative;
      bottom: 10px;
      left: 7px;
      width: 130px;
      word-wrap: break-word;
    }
    .file_size{
      position: relative;
      top: 20px;
      right: 140px;
    }
  }

  .helper_upload_again {
    position: absolute;

    padding: 10px 5px;
    top: 255px;
    right: -12px;
    text-align: center;
    width: 183px;
    height: 30px;
    line-height: 30px;
    color: #f7f7f7;
    background: #62a1eb;
    border-radius: 8px;
    font-size: 18px;

  }
}
