@use "../../variables.scss" as s;

.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.nothing_found {
  position: absolute;
  font-size: 60px;
  color: #2e2e2e8c;
  left: 36%;
  top: 150px;
}

.go_back {
  @include s.goBackLink;
  .go_back_img {
    background-image: url("../../../public/assets/arrow.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 16px;
    background-repeat: no-repeat;
  }
}

.list_label {
  position: absolute;
  width: 312px;
  height: 21px;
  left: 804px;
  top: 79px;

  font-weight: 700;
  font-size: 37px;

  display: flex;
  align-items: center;
  text-align: center;
}

.laptop_list_wrapper {
  width: 1150px;
  min-height: 300px;
  position: absolute;
  top: 200px;
  left: 380px;
  display: grid;
  grid-template-columns: repeat(2, 47.5%);
  box-sizing: border-box;
  justify-content: space-between;
  grid-gap: 55px;
  padding-bottom: 120px;
}

.laptop_wrapper {
  height: 150px;
  border: 1px solid #aed1ea;
  border-radius: 20px;
  background-color: #aed1ea4b;
  box-sizing: border-box;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img_wrapper {
  border-radius: 10px;
  width: 266px;
  height: 100%;
  object-fit: cover;
}

.info_wrapper {
  width: 216px;
  height: 100%;
  position: relative;
  label {
    position: absolute;
    left: 0;
    top: 17px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    color: #2e2e2e;
  }
  span {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    color: #2e2e2e;
  }
  a {
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-decoration: underline;
    color: #4386a9;
  }
}

@include s.media(390px) {
  .wrapper {
  }
  .go_back {
    left: 0;
    background-color: transparent;
    top: 23px;
  }
  .list_label {
    left: calc(50% - 147px / 2 - 0.5px);
    top: 38px;
    font-size: 16px;
  }
  .laptop_list_wrapper{
    top: 100px;
    left: 20px;
    width: 390px;
    grid-template-columns: repeat(1,90%);
    padding-bottom: 20px;
    grid-gap:25px;
  }
  .img_wrapper{
    width: 164px;
  }
  .info_wrapper{
    width: 150px;
    a,label{
      font-size: 14px;
    }
  }
}
