@use "../../variables.scss" as s;

.wrapper {
  width: 1920px;
  height: 1080px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.form_wrapper {
  position: absolute;
  height: 973px;
  left: 347px;
  right: 347px;
  top: 127px;

  background: #ffffff;
  border-radius: 18px;
}

.input_field {
  width: 34%;
  height: 60px;
  position: absolute;
}
#name {
  left: calc(50% - 926px / 2);
  top: 88px;
}
#lastname {
  left: 610px;
  top: 88px;
}

.contact_info {
  width: 878px;
  position: absolute;
  left: calc(50% - 926px / 2);
}

#teams {
  top: 258px;
  z-index: 5;
}
#positions {
  top: 371px;
  z-index: 3;
}

.contact_info {
  min-height: 60px;
}
#email {
  top: 482px;
}

#phone {
  top: 648px;
}

.next {
  position: absolute;
  width: 176px;
  height: 60px;
  right: 174px;
  top: 869px;
  button {
    font-size: 20px;
  }
}

@include s.media(390px) {
  .wrapper {
    width: 100vw;
    height: 100vh;
    overflow: visible;
  }

  .form_wrapper{
    width: 90%;
    left: 0;
    top: 130px;
  }

  .input_field{
    width: 360px;
  }
  #name {
    left: 10px;
    top: 0;
  }
  #lastname{
    left: 10px;
    top: 150px;
  }

  .contact_info{
    width: 103%;
    left: 10px;
  }

  .next{
    right: 0;
  }
}
