.dropdown_wrapper,
.contact_info {
  width: 878px;
  position: absolute;
  left: calc(50% - 926px / 2);
  border-radius: 8px;
  box-sizing: border-box;
}

#teams {
  top: 258px;
  z-index: 5;
}
#positions {
  top: 371px;
  z-index: 3;
}


.error{
  border: 2px solid #E52F2F;
}