@use '../../../variables.scss' as s;


.wrapper{
  width: 277px;
  z-index: 20;
}

.error{
  border: 2px solid #E52F2F;
  border-radius: 8px;
}

@include s.media(390px){
  .wrapper{
    width: 357px;
  }
}
