@use '../../../variables.scss' as s;
.wrapper {
  position: absolute;
  width: 886px;
  height: 120px;
  left: 174px;
  top: 950px;
  display: flex;
  align-items: center;
}

.input_field{
  width: 276px;
  position: absolute;
}

#core{
  left: 305px;
}
#threads{
  left: 610px;
}

@include s.media(390px){

  .wrapper{
    left: 0px;
    top: 650px;
    flex-direction: column;
    width: 390px;
  }

  #core{
    top: 120px;
    left:13px;
    width: 357px;
  }
  #threads{
    top: 270px;
    left: 13px;
    width: 357px;
  }
}
