.wrapper {
  position: absolute;
  width: 886px;
  height: 120px;
  left: 174px;
  top: 950px;
  display: flex;
  align-items: center;
}

.input_field{
  width: 276px;
  position: absolute;
}

#core{
  left: 305px;
}
#threads{
  left: 610px;
}
