@use "../variables.scss" as s;

.wrapper {
  position: relative;
  box-sizing: border-box;
}
.return {
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background: #d9d9d9;
  position: absolute;
  top: 53px;
  left: 70px;
  text-align: center;
  line-height: 55px;
  a {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 100%;
  }
  .return_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 16px;
    background-image: url("../../public/assets/arrow.png");
    background-repeat: no-repeat;
  }
}

.second,
.first {
  position: absolute;
  height: 24px;
  top: 85px;
}

.first {
  left: 671px;
}
.second {
  right: 671px;
}

@mixin navBorderAnimation($color) {
  content: "";
  position: absolute;
  height: 2px;
  border-bottom: 2px solid $color;
  top: 32px;
  left: -5px;
  right: 0;
  margin: 0 auto;
  border-radius: 2.5px;
  animation-name: showBottomBorder;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.sections {
  a {
    width: 200px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #232323;
  }
}

@keyframes showBottomBorder {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

.active::before {
  @include navBorderAnimation(#232323);
}

.to_emp_info {
  position: relative;
  top: 1830px;
  left: 525px;
  z-index: 70;
  color: #62a1eb;
  font-size: 18px;
  letter-spacing: 0.08em;
}

#mobNav{
  display: none;
}

@include s.media(390px) {
  .return {
    background-color: transparent;
    left: 0px;
    top: 15px;
  }
  
  #mobNav{
    display: initial;
  }
  #pcNav{
    display: none;
  }

  .first,
  .second {
    left: 95px;
    top: 35px;
    a {
      font-size: 18px;
    }
    span {
      position: relative;
      top: 23px;
      right: 100px;
      color: #898989;
    }
  }

  .second {
    width: 300px;
    left: 68px;
    span{
      right: 130px;
    }
  }

  .active::before {
    content: "";
    position: unset;
    height: unset;
    border-bottom: unset;
    top: unset;
    left: unset;
    right: unset;
    margin: unset;
    border-radius: unset;
    animation-name: unset;
    animation-duration: unset;
    animation-fill-mode: unset;
    animation-timing-function: unset;
  }

  .to_emp_info {
    position: relative;
    top: 1927px;
    left: 25px;
    z-index: 70;
    color: #62a1eb;
    font-size: 18px;
    letter-spacing: 0.08em;
  }
}
