@font-face {
  font-family: Helvetic;
  font-style: normal;
  src: url("./fonts/HelveticaNeue.ttc") format("WOFF");
}




html,body{
  margin: 0;
  padding: 0;
}



*{
  font-family: Helvetic !important;
}
a{
  text-decoration: none;
  color: black;
}


