.wrapper{
  position: absolute;
  width: 886px;
  height: 120px;
  left: 174px;
  top: 688px;
  display: flex;
  justify-content: space-between;
  hr{
    width: 100%;
    position: absolute;
    bottom: -70px;
    background-color: #C7C7C7;
  }
}

.laptop_name{
  width: 50%;
}

